<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Floral Design - Bouquets</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="container">
        <div id="topLine"></div>
        <div id="logoPan"> <img src="/images/logo.gif" width="192" height="92" alt="" id="logo" /> <img
                src="/images/slogan.gif" width="297" height="46" alt="" id="slogan" /> </div>
        <div id="menuPan">
            <ul class="menu">
                <li class="btn_1"><a href="/">home page</a></li>
                <li class="line"></li>
                <li class="btn_2"><a href="/about">about us</a></li>
                <li class="line"></li>
                <li class="btn_3"><a href="/bouquets">bouquets</a></li>
                <li class="line"></li>
                <li class="btn_4"><a href="/specials">specials</a></li>
                <li class="line"></li>
                <li class="btn_5"><a href="#">contacts</a></li>
            </ul>
        </div>
        <div id="header"> <img src="/images/slogan2.gif" width="192" height="70" alt="" id="slogan2" /></div>
        <div id="content">
            <div id="leftPan" style="width: 100%;">
                <div id="featured" style="width: 100%;">
                    <h2>Bouquets</h2>
                    <p class="headline">Explore our exquisitely designed bouquets, crafted with precision and love for
                        every occasion.</p>

                    <div style="display: flex; flex-wrap: wrap; gap: 20px;">
                        <div class="featItem" id="i01" style="margin: 0;"> <img src="/images/img_prod.jpg" width="116"
                                height="125" alt="" />
                            <p><span class="headline2">Spring Harmony</span><br />
                                <a href="#">View Details</a><br />
                                A delightful mix of spring flowers.
                            </p>
                        </div>
                        <div class="featItem" id="i02" style="margin: 0;"> <img src="/images/img_prod-13.jpg"
                                width="116" height="125" alt="" />
                            <p><span class="headline2">Summer Joy</span><br />
                                <a href="#">View Details</a><br />
                                Bright and sunny vibrant blooms.
                            </p>
                        </div>
                        <div class="featItem" id="i03" style="margin: 0;"> <img src="/images/img_prod-14.jpg"
                                width="116" height="125" alt="" />
                            <p><span class="headline2">Autumn Romance</span><br />
                                <a href="#">View Details</a><br />
                                Warm, rich tones of fall colors.
                            </p>
                        </div>
                        <div class="featItem" id="i04" style="margin: 0;"> <img src="/images/img_prod.jpg" width="116"
                                height="125" alt="" />
                            <p><span class="headline2">Winter Elegance</span><br />
                                <a href="#">View Details</a><br />
                                Crisp white and cool blue floral arrangements.
                            </p>
                        </div>
                        <div class="featItem" id="i05" style="margin: 0;"> <img src="/images/img_prod-13.jpg"
                                width="116" height="125" alt="" />
                            <p><span class="headline2">Love's Whisper</span><br />
                                <a href="#">View Details</a><br />
                                Classic romantic roses and soft petals.
                            </p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear" id="end"></div>
        </div>
    </div>
    <div id="footer">
        <p><a href="/">HOME PAGE</a> | <a href="/about">ABOUT US</a> | <a href="/bouquets">BOUQUETS</a> | <a
                href="/specials">SPECIALS</a> | <a href="/news">NEWS</a> | <a href="#">CONTACTS</a><br />
            Copyright &copy; Your Company Name | Design by <a href="http://freshtemplates.com/">Website Templates</a>
        </p>
    </div>
    <div align=center>This template downloaded form <a href='http://all-free-download.com/free-website-templates/'>free
            website templates</a></div>
</body>

</html>