<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Floral Design - News</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="container">
        <div id="topLine"></div>
        <div id="logoPan"> <img src="/images/logo.gif" width="192" height="92" alt="" id="logo" /> <img
                src="/images/slogan.gif" width="297" height="46" alt="" id="slogan" /> </div>
        <div id="menuPan">
            <ul class="menu">
                <li class="btn_1"><a href="/">home page</a></li>
                <li class="line"></li>
                <li class="btn_2"><a href="/about">about us</a></li>
                <li class="line"></li>
                <li class="btn_3"><a href="/bouquets">bouquets</a></li>
                <li class="line"></li>
                <li class="btn_4"><a href="/specials">specials</a></li>
                <li class="line"></li>
                <li class="btn_5"><a href="/contacts">contacts</a></li>
            </ul>
        </div>
        <div id="header"> <img src="/images/slogan2.gif" width="192" height="70" alt="" id="slogan2" /></div>
        <div id="content">
            <div id="leftPan" style="width: 100%;">
                <div id="welcome">
                    <h2>Latest News</h2>
                    <p class="headline">Stay updated with our latest workshops, events, and seasonal floral tips.</p>

                    <div
                        style="margin-top: 20px; border-bottom: 1px dotted #ccc; padding-bottom: 15px; margin-bottom: 15px;">
                        <h3 style="color: #6C5158; margin: 0 0 5px 0;">New Spring Collection Just Arrived!</h3>
                        <p style="font-size: 0.8em; color: #999; margin: 0 0 10px 0;">March 15, 2026</p>
                        <p>Our fresh spring collection featuring vibrant tulips, daffodils, and hyacinths is now
                            available in-store and online. Perfect for welcoming the new season.</p>
                    </div>

                    <div
                        style="margin-top: 20px; border-bottom: 1px dotted #ccc; padding-bottom: 15px; margin-bottom: 15px;">
                        <h3 style="color: #6C5158; margin: 0 0 5px 0;">Upcoming Floral Arrangement Workshop</h3>
                        <p style="font-size: 0.8em; color: #999; margin: 0 0 10px 0;">April 5, 2026</p>
                        <p>Join us for a fun and interactive afternoon where you'll learn the art of floral design from
                            our master florists. All materials provided.</p>
                    </div>

                    <div
                        style="margin-top: 20px; border-bottom: 1px dotted #ccc; padding-bottom: 15px; margin-bottom: 15px;">
                        <h3 style="color: #6C5158; margin: 0 0 5px 0;">Expanded Delivery Zones</h3>
                        <p style="font-size: 0.8em; color: #999; margin: 0 0 10px 0;">February 10, 2026</p>
                        <p>Great news! We have expanded our delivery routes to cover more surrounding neighborhoods.
                            Check our updated delivery map to see if we now deliver to you.</p>
                    </div>
                </div>
            </div>
            <div class="clear" id="end"></div>
        </div>
    </div>
    <div id="footer">
        <p><a href="/">HOME PAGE</a> | <a href="/about">ABOUT US</a> | <a href="/bouquets">BOUQUETS</a> | <a
                href="/specials">SPECIALS</a> | <a href="/news">NEWS</a> | <a href="/contacts">CONTACTS</a><br />
            Copyright &copy; Your Company Name | Design by <a href="http://freshtemplates.com/">Website Templates</a>
        </p>
    </div>
    <div align=center>This template downloaded form <a href='http://all-free-download.com/free-website-templates/'>free
            website templates</a></div>
</body>

</html>